# Ignore contents of models/ but keep the folder
model/*
!model/.gitkeep

# Ignore contents of vecstore/ but keep the folder
vecstore/*
!vecstore/.gitkeep

train/*
!train/*.png
!train/train_log_history.json
!train/train_output.log

# Ignore Python cache
__pycache__/
*.pyc

app_ui/*
!app_ui/api_ask.py

data/*
!data/query_answers.json
!data/ABC Bank ATM Requirements Document.docx

.gradio/

utils/*.yaml

